* {
    color: rgba(0, 0, 0, 0.712);
}

.content {
    width: 82vw;
    /* height: 800px; */
    margin: 0 auto;
    position: relative;
    top: 57px;
    display: flex;
    /* background-color: aqua; */
}

.main-content {
    width: 72%;
}

.box-right {
    width: 28%;
}

.menu_main_content,
.box-songs {
    width: 100%;
    color: rgba(0, 0, 0, 0.747);
    /* border: 1px solid red; */
}

.row_menu_main_content {
    display: flex;
    padding: 7px 0px 5px;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.329);
}

.row_menu_main_content>div {
    width: 20%;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 2%;
}

li {
    position: relative;
}

.fc-while {
    color: #222222 !important;
    font-weight: 300 !important;
}

.row_menu_main_content>ul>:last-child ul {
    display: none !important;
}

.row_menu_main_content>ul>:last-child ul>li {
    padding: 2px;
    font-size: 1.2rem;
}

.row_menu_main_content>ul>:last-child ul>li:hover {
    color: #e74c3c !important;
}

.row_menu_main_content>ul>:last-child>a.more {
    color: #999999 !important;
}

.row_menu_main_content>ul>:last-child>a.more:hover {
    color: white !important;
}

.row_menu_main_content>ul>:last-child>a:hover ul {
    display: block !important;
    cursor: pointer;
    position: absolute;
    background-color: white;
    z-index: 9998;
    top: 31px;
    width: 188px;
    padding: 10px;
    right: 70px;
    box-shadow: 0 3px 8px rgba(3, 3, 3, 0.26);
}

.row_menu_main_content>ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.row_menu_main_content>ul>li {
    width: 25%;
    font-size: 1.1rem;
    padding-top: 7px !important;
}

.row_menu_main_content>ul>li>a {
    padding: 7px 10px 7px 5px;
    font-size: 1.2rem !important;
    border-radius: 5px;
}

.row_menu_main_content>ul>li>a:hover {
    background-color: red;
    color: white !important;
}

.row_menu_main_content>ul>li>a:hover>span {
    color: white !important;
}

.upper {
    text-transform: uppercase;
}

.title-content>a {
    font-size: 1.9rem;
    font-weight: 500;
    color: #2daaed;
    padding: 2px 0px 0px;
    position: relative;
}

.song {
    border-top: 1px solid #ececec;
    padding: 5px 0px;
    display: flex;
}

.box-songs {
    position: relative;
    margin: 10px 0px;
}

.song>.song-header {
    width: 55%;
    display: flex;
}

.song-header>div {
    width: 60px;
    height: 60px;
}

.song-header>div img {
    width: 60px;
    height: 60px;
}

div.song-header>:last-child {
    display: flex;
    align-items: center;
}

.song-header>div>ul a {
    padding-left: 20px;
    width: 400px;
    display: inline-block;
    transition: all 0.2s linear;
}

.song-header>div>ul>li:first-child>a {
    color: rgba(0, 0, 0, 0.88);
}

.song-header>div>ul>li:last-child>a {
    font-size: 12px;
}

.song-tail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.song-tail div {
    display: inline;
    /* text-align: center; */
    vertical-align: middle;
}

div.vien_>div {
    padding: 3px 8px;
    font-size: 11px;
    color: white;
    border-radius: 3px;
}

div.vien_>:first-child {
    background-color: #ccc;
    margin-right: 5px;
}

div.vien_>:last-child {
    background-color: #00adef;
}

div.song-tail>:first-child {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

div.song-tail>div>:last-child>div>img {
    height: 10px;
    margin-bottom: 3px;
}

div.song-tail span {
    cursor: pointer;
    padding-right: 5px;
}

.chuyentrang {
    border-radius: 4px;
    display: flex;
    width: 100%;
    background-color: #e5e5e5;
    justify-content: center;
}

.chuyentrang ul {
    display: inline-flex;
}

.chuyentrang ul li {
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 7px 15px;
}

.chuyentrang ul li:hover {
    color: #e74c3c;
    border-bottom: 2px solid #e74c3c;
    cursor: pointer;
}

footer {
    position: relative;
    top: 90px;
    background-color: #f5f5f5;
}