* {
    color: rgba(0, 0, 0, 0.712);
}

.content {
    width: 82vw;
    /* height: 800px; */
    margin: 0 auto;
    position: relative;
    top: 57px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.main-content {
    width: 72%;
}

.menu_main_content,
.box-songs {
    width: 100%;
    color: rgba(0, 0, 0, 0.747);
    /* border: 1px solid red; */
}

.row_menu_main_content {
    display: flex;
    padding: 7px 0px 5px;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.329);
}

.row_menu_main_content>div {
    width: 20%;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 2%;
}

li {
    position: relative;
}

.fc-while {
    color: #222222 !important;
    font-weight: 300 !important;
}

.row_menu_main_content>ul>:last-child ul {
    display: none !important;
}

.row_menu_main_content>ul>:last-child ul>li {
    padding: 2px;
    font-size: 1.2rem;
}

.row_menu_main_content>ul>:last-child ul>li:hover {
    color: #e74c3c !important;
}

.row_menu_main_content>ul>:last-child>a.more {
    color: #999999 !important;
}

.row_menu_main_content>ul>:last-child>a.more:hover {
    color: white !important;
}

.row_menu_main_content>ul>:last-child>a:hover ul {
    display: block !important;
    cursor: pointer;
    position: absolute;
    background-color: white;
    z-index: 9998;
    top: 31px;
    width: 188px;
    padding: 10px;
    right: 70px;
    box-shadow: 0 3px 8px rgba(3, 3, 3, 0.26);
}

.row_menu_main_content>ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.row_menu_main_content>ul>li {
    width: 25%;
    font-size: 1.1rem;
    padding-top: 7px !important;
}

.row_menu_main_content>ul>li>a {
    padding: 7px 10px 7px 5px;
    font-size: 1.2rem !important;
    border-radius: 5px;
}

.row_menu_main_content>ul>li>a:hover {
    background-color: red;
    color: white !important;
}

.row_menu_main_content>ul>li>a:hover>span {
    color: white !important;
}

.upper {
    text-transform: uppercase;
}

.title-content>a {
    font-size: 1.9rem;
    font-weight: 500;
    color: #2daaed;
    padding: 2px 0px 0px;
    position: relative;
}

.song {
    border-top: 1px solid #ececec;
    padding: 5px 0px;
    display: flex;
}

.box-songs {
    position: relative;
    margin: 10px 0px;
}

.song>.song-header {
    width: 55%;
    display: flex;
}

.song-header>div {
    width: 60px;
    height: 60px;
}

.song-header>div img {
    width: 60px;
    height: 60px;
}

div.song-header>:last-child {
    display: flex;
    align-items: center;
}

.song-header>div>ul a {
    padding-left: 20px;
    width: 400px;
    display: inline-block;
    transition: all 0.2s linear;
}

.song-header>div>ul>li:first-child>a {
    color: rgba(0, 0, 0, 0.88);
}

.song-header>div>ul>li:last-child>a {
    font-size: 12px;
}

.song-tail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.song-tail div {
    display: inline;
    /* text-align: center; */
    vertical-align: middle;
}

div.vien_>div {
    padding: 3px 8px;
    font-size: 11px;
    color: white;
    border-radius: 3px;
}

div.vien_>:first-child {
    background-color: #ccc;
    margin-right: 5px;
}

div.vien_>:last-child {
    background-color: #00adef;
}

div.song-tail>:first-child {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

div.song-tail>div>:last-child>div>img {
    height: 10px;
    margin-bottom: 3px;
}

div.song-tail span {
    cursor: pointer;
    padding-right: 5px;
}

.number-listen {
    width: 60px;
}

.number-listen img {
    filter: grayscale(100%);
    filter: opacity(50%);
}

.chuyentrang {
    border-radius: 4px;
    display: flex;
    width: 100%;
    background-color: #e5e5e5;
    justify-content: center;
}

.chuyentrang ul {
    display: inline-flex;
}

.chuyentrang ul li {
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 7px 15px;
}

.chuyentrang ul li:hover {
    color: #e74c3c;
    border-bottom: 2px solid #e74c3c;
    cursor: pointer;
}

footer {
    position: relative;
    top: 90px;
    background-color: #f5f5f5;
}


.box-right {
    width: 26%;
    padding-top: 10px;
}

div.box_chart_music>:first-child {
    display: flex;
}

div.tile_box_key>:first-child {
    padding-right: 5px;
}

.tile_box_key p {
    font-size: 26px;
    /* font-weight: 300; */
    text-transform: uppercase;
    transition: all 0.2s linear;
    color: #2daaed;
    padding-top: 5px;
}

.tile_box_key span {
    font-size: 40px;
    /* font-weight: 200; */
    color: #999999;
}

.btn_tab_select {
    margin-top: 10px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn_tab_select>a {
    width: 105px;
    text-align: center;
    padding: 8px 0px 4px;
    font-size: 14px;
    color: #333333;
    background-color: #e5e5e5;
    vertical-align: middle;
}

div.btn_tab_select>:first-child {
    border-radius: 16px 0px 0px 16px;
    background-color: #e74c3c;
    color: white;
}

div.btn_tab_select>:last-child {
    border-radius: 0px 16px 16px 0px;
}

div.btn_tab_select>a:hover {
    background-color: #e74c3c;
    color: white !important;
}

.list_chart_music>ul>li {
    position: relative;
    display: flex;
    padding: 10px 0px;
    border-bottom: 1px solid #f3f3f3;
}

.list_chart_music>ul>li.one>:first-child {
    margin-right: 10px;
}

.list_chart_music>ul>li.one span {
    position: absolute;
    font-size: 20px;
    color: white;
    bottom: 0px;
    padding: 7px 0px;
    width: 34px;
    text-align: center;
    background-color: #e74c3c;
}

.list_chart_music>ul>li.one img {
    width: 100px;
}

.info_data>h3>a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);
}

.list_chart_music>ul>li span {
    font-size: 20px;
    width: 31px;
    padding-top: 10px;
    text-align: center;
    margin-right: 10px;
    vertical-align: bottom;
}

.playmusic>span:hover{
    color: #2daaed !important;
}

.traitim>span:hover{
    color: #2daaed !important;
}

div.singer_>:first-child {
    margin-top: 30px;
    position: relative;
    margin-bottom: 10px;
}

div.singer_>:first-child>a {
    color: #2daaed;
    font-size: 26px;
    text-transform: uppercase;
    padding: 5px 26px 5px 0px;
}

div.singer_>div>a>img {
    width: 100%;
}

div.singer_>div a>img:hover {
    filter: brightness(60%);
}

div.singer_>:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.singer_>:last-child>div {
    width: 145px;
    height: 140px;
    margin-top: 20px;
}

div.singer_>:last-child img {
    width: 100%;
}


/* slider */

.slider {
    width: 85%;
    margin: 0px auto;
    height: 100px;
}

/* .slick-slide {
  margin: 0px 20px;
} */

.slider_footer_{
    background-color: #efefef;
}

.slider_footer_>div.upper{
    padding-left: 7.5%;
    font-size: 14px;
    color: rgba(0,0,0,0.88);
    padding-top: 16px;
    font-weight: 800;
    padding-bottom: 5px;

}

.slick-slide a {
  padding: 0px;
  display: block;
  height: 100px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-prev::before, .slick-next::before {
    font-size: 60px !important;
}
.slick-prev, .slick-next {
    width: 56px !important;
    height: 56px !important;
    /* background-color: red !important; */
    z-index: 99;
    top: 37px !important;
}

.slick-prev{
    background-color: #2daaed !;
}
.slick-slide img{
    width: 90%;
    padding-left: 10%;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-track{
    height: 100px;
}

.slick-current {
  opacity: 1;
}
/* ====== */
.slick-slide {
    margin: 0 0px;
    height: 100px;
    opacity: 1;
  }

  