<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="box">
        <div class="box-left"></div>
        <div class="box-right">
            <div class="box_chart_music">
                <div class="tile_box_key">
                    <a href="#">
                        <p>BXH bài hát</p>
                    </a>
                    <a href="#">
                        <span class="material-icons" style="font-size: 30px;">
                            play_circle_outline
                        </span>
                    </a>
                </div>
                <div class="btn_tab_select">

                    <a href="#" id="top20__nhac-viet" class="active">
                        Việt Nam
                    </a>

                    <span style="width: 1px;"></span>

                    <a href="#" id="top20__au-my">
                        Âu Mỹ
                    </a>
                    <span style="width:1px;"></span>


                    <a href="#" id="top20__nhac-han" class="activev">
                        Hàn Quốc
                    </a>

                </div>
                <div class="list_chart_music">
                    <ul>
                        <li class="one">
                            <a href="#" style="position: relative;">
                                <span class="number special-1">1</span>
                                <img src="https://avatar-ex-swe.nixcdn.com/song/2021/08/30/2/1/a/e/1630316309035.jpg" alt="">
                            </a>
                            <div class="info_data">
                            <h3>
                                <a href="#" class="name_singer">Ái Nộ</a>
                            </h3>
                            <h4>
                                <a href="#" class="name_singer">Masew</a>
                                ,&nbsp;
                                <a href="#" class="name_singer">Khôi Vũ</a>
                            </h4>
                        </div>
                        </li>
                        <li>
                            <span class="number special-2">2</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Câu Hẹn Câu Thề</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Đình Dũng</a>
                                    ,&nbsp;
                                    <a href="#" class="name_singer">ACV</a>
                                </h4>
                            </div>
                        </li>
                        <li>
                            <span class="number special-3">3</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                        <li>
                            <span class="number">4</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                        <li>
                            <span class="number">5</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                        <li>
                            <span class="number">6</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                        <li>
                            <span class="number">7</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                        <li>
                            <span class="number">8</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                        <li>
                            <span class="number">9</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                        <li style="margin-bottom: 1px solid #f3f3f3 ;">
                            <span class="number">10</span>
                            <div class="info_data">
                                <h3>
                                    <a href="#" class="name_singer">Muộn Rồi Mà Sao Còn</a>
                                </h3>
                                <h4>
                                    <a href="#" class="name_singer">Sơn Tùng M-TP</a>
                                   
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>